.pico .pico-root {
  container-name: pico-root;
  container-type: size;
  --pico-root-container-width: 100%;
}

@container pico-root (min-width: 576px) {
  .pico div.pico-root > header,
  .pico div.pico-root > main,
  .pico div.pico-root > footer {
    --pico-root-container-width: 510px;
    max-width: var(--pico-root-container-width);
    padding-right: 0;
    padding-left: 0;
  }
}
@container pico-root  (min-width: 768px) {
  .pico div.pico-root > header,
  .pico div.pico-root > main,
  .pico div.pico-root > footer {
    --pico-root-container-width: 700px;
    max-width: var(--pico-root-container-width);
  }
}
@container pico-root (min-width: 1024px) {
  .pico div.pico-root > header,
  .pico div.pico-root > main,
  .pico div.pico-root > footer {
    --pico-root-container-width: 950px;
    max-width: var(--pico-root-container-width);
  }
}
@container pico-root (min-width: 1280px) {
  .pico div.pico-root > header,
  .pico div.pico-root > main,
  .pico div.pico-root > footer {
    --pico-root-container-width: 1200px;
    max-width: var(--pico-root-container-width);
  }
}
@container pico-root (min-width: 1536px) {
  .pico div.pico-root > header,
  .pico div.pico-root > main,
  .pico div.pico-root > footer {
    --pico-root-container-width: 1450px;
    max-width: var(--pico-root-container-width);
  }
}